@import url("/public/font.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-error: #c30000;
    --color-error-light: #ed2e2e;
    --color-error-extralight: #fff2f2;

    --color-sucess: #00966d;
    --color-sucess-light: #00ba88;
    --color-sucess-extralight: #f3fdfa;

    --color-warning: #a9791c;
    --color-warning-light: #f4b740;
    --color-warning-extralight: #fff8e1;

    --color-tint-100: #ffffffe3;
    --color-tint-200: #fce8e8;
    --color-tint-300: #f9d2d2;
    --color-tint-400: #f6bbbb;
    --color-tint-500: #fca197;
    --color-tint-600: #f66262;
    --color-tint-700: #e43434;
    --color-shade-primary: #cb1b1b;
    --color-shade-100: #b41818;
    --color-shade-200: #9e1515;
    --color-shade-300: #871212;
    --color-shade-400: #700f0f;
    --color-shade-500: #5a0c0c;
    --color-shade-600: #430909;

    --color-white: #ffffff;
    --color-gray-100: #fafafa;
    --color-gray-150: #f9f9f9;
    --color-gray-200: #ededed;
    --color-gray-250: #e1e1e1;
    --color-gray-300: #d9d9d9;
    --color-gray-350: #cbcbcb;
    --color-gray-400: #adadad;
    --color-gray-450: #909090;
    --color-gray-500: #717171;
    --color-gray-550: #505050;
    --color-gray-600: #353535;
    --color-gray-650: #212121;
    --color-gray-700: #121212;
    --color-black: #0c0c0c;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  user-select: none;
  background-color: rgb(var(--background-app-rgb));
  font-family: "Shabnam", sans-serif;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  outline: none;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* For WebKit-based browsers */
::-webkit-scrollbar {
  width: 2px; /* Width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color of the track (area behind the thumb) */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the thumb (draggable element) */
  border-radius: 6px; /* Rounded corners of the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color of the thumb on hover */
}

::-webkit-scrollbar-corner {
  background-color: #f1f1f1; /* Color of the corner (where vertical and horizontal scrollbars meet) */
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .scrollbarDesctop {
    -ms-overflow-style: block; /* IE and Edge */
    scrollbar-width: block; /* Firefox */
  }
}

button {
  cursor: pointer;
  outline: none;
}
button:disabled {
  cursor: default;
  background-color: rgb(var(--color-secondary-100), 0.5);
  pointer-events: none;
  box-shadow: none;
}

/* inupt number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

/* TABLE */

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table .title-row {
  background-color: rgb(var(--color-secondary-100));
}

table td,
table th {
  border-bottom: 1px solid rgb(var(--color-secondary-200));
  text-align: right;
  white-space: nowrap;
}

table th {
  padding: 0.6rem 1rem;
  color: rgb(var(--color-secondary-600));
  font-size: 0.9rem;
}

table td {
  font-size: 0.85rem;
  padding: 1rem 1rem;
  color: rgb(var(--color-secondary-600));
}

.navbar {
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%); /* Initially hide the navbar */
}

.navbar.open {
  transform: translateX(0); /* Slide in the navbar */
}

.textField {
  border: 1px solid;
  border-radius: 4px;
  width: 100%;
  border-color: #e1e1e1;
  color: #adadad;
  padding: 5px 10px;
  background-color: transparent;
}

.active-icon {
  color: white;
}

/* map */

.leaflet-container {
  height: 600px;
}

/* navbar*/
.navbar-z {
  z-index: 99999999;
}
